# Node modules
node_modules/

# Dist files
dist/
lib/

# Test coverage files
coverage/

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# IDE setting files
.idea
.vscode

# Temp files
.vite_opt_cache

# Other files
docs/components.d.ts
post-data.json