/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  --vp-c-bg: #fff;
  --vp-c-bg-semi: rgba(255, 255, 255, 0.8);
  --vp-c-bg-secondary: #f3f5f7;

  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-divider-light: rgba(60, 60, 67, 0.12);
  --vp-c-divider-dark: rgba(84, 84, 88, 0.48);

  --vp-c-text-light-1: #2c3e50;
  --vp-c-text-light-2: #476582;
  --vp-c-text-light-3: #90a4b7;

  --vp-c-brand: #3b89e5;
  --vp-c-brand-active: #3b89e5;
  --vp-c-brand-dark: #3b89e5;
  --vp-c-brand-light: #3ba0fd;
  --vp-c-brand-lighter: #4ea6f7;
  --vp-c-brand-darker: #3077c7;

  --vp-c-disabled-bg: #e5e5e5;
  --vp-c-disabled-fg: #666;

  --code-bg-color: #f8f8f8;
  --code-inline-bg-color: rgba(27, 31, 35, 0.04);
  --code-highlight: rgba(0, 0, 0, 0.04);

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base: "Inter", apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-family-mono: "IBM Plex Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;

  /**
   * Z Indexes
   *
   * Algolia SearchBox has a z-index of 200, so make sure not to go above
   * that value.
   * --------------------------------------------------------------------- */

  --z-index-navbar: 10;
  --z-index-sidebar: 6;

  /**
   * Shadows
   * --------------------------------------------------------------------- */

  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
  --sidebar-width: 17.5rem;
  --scrollbar-width: 0;
}

html.dark {
  --vp-c-bg: #111;
  --vp-c-bg-semi: rgba(17, 17, 17, 0.8);
  --vp-c-bg-secondary: #222;
  --vp-c-text: #f5f7fa;
  --vp-c-text-light: #f9f9f9;
  --vp-c-text-lighter: #ffffff;

  --vp-c-divider-light: rgba(200, 200, 200, 0.12);
  --vp-c-divider-dark: rgba(200, 200, 200, 0.48);
  --code-bg-color: #191919;
  --code-inline-bg-color: rgba(255, 255, 255, 0.04);
  --code-highlight: rgba(0, 0, 0, 0.66);

  --vp-c-disabled-bg: #333;
  --vp-c-disabled-fg: #aaa;
}

/** Fallback Styles */
:root {
  --vp-c-divider: var(--vp-c-divider-light);

  --vp-c-text: var(--vp-c-text-light-1);
  --vp-c-text-light: var(--vp-c-text-light-2);
  --vp-c-text-lighter: var(--vp-c-text-light-3);

  --vp-c-bg: var(--vp-c-white);

  --code-line-height: 24px;
  --code-font-family: var(--font-family-mono);
  --code-font-size: 14px;
}
