@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}


.page-enter,
.page-leave-to {
    opacity: 0;
}


@layer base {
    :root {
    }

    .title {
        @apply font-bold text-2xl my-2 text-slate-500 dark:text-slate-300;
    }

    .content-doc {
        @apply prose dark:prose-invert  max-w-none p-6;
    }

    .content-doc h1,
    .content-doc h2,
    .content-doc h3 {
        @apply my-1;
    }

    /* Customize headers to remove default underline */
    .content-doc h2 a,
    .content-doc h3 a {
        @apply no-underline font-bold;
    }

    .content-doc h2 a:hover,
    .content-doc h3 a:hover {
        @apply border-b border-neutral-600 dark:border-neutral-300;
    }

    .content-doc p {
        @apply my-5;
    }


    .content-doc blockquote {
        font-style: normal;
    }

    .content-doc a:not(h2 a, h3 a)
    {
        text-decoration: none;
        @apply p-1 underline-offset-2 underline decoration-2 decoration-slate-400 hover:text-slate-400 transition duration-500;
    }

    .content-doc p code {
        @apply p-0.5 bg-slate-200 dark:bg-slate-500 rounded-md;
    }


}

@layer components {
    .card {
        @apply rounded-lg bg-white dark:bg-slate-600;
        box-shadow: 0 4px 10px rgba(0, 2, 4, .06), 0 0 1px rgba(0, 2, 4, .11);
    }
}
