@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    :root {
    }

    .page-enter-active,
    .page-leave-active {
        transition: opacity 0.5s;
    }
    .page-enter,
    .page-leave-active {
        opacity: 0;
    }

    .title {
        @apply font-bold text-2xl my-2 text-slate-700 dark:text-slate-300;
    }

    .content-doc {
        @apply prose dark:prose-invert  max-w-none p-6;
    }

    .prose h1,
    .prose h2,
    .prose h3 {
        @apply my-1;
    }

    /* Customize headers to remove default underline */
    .prose h2 a,
    .prose h3 a {
        @apply no-underline font-bold;
    }

    .prose h2 a:hover,
    .prose h3 a:hover {
         @apply border-b border-neutral-600 dark:border-neutral-300;
     }

    .prose p {
        @apply mt-0 mb-0;
    }

    .prose ul {
        @apply pl-0;
    }

}

@layer components {
    .card {
        @apply rounded-lg bg-white dark:bg-slate-600;
        box-shadow: 0 4px 10px rgba(0,2,4,.06),0 0 1px rgba(0,2,4,.11);
    }
}
